@charset "UTF-8";

html {
    /* 1remが10px */
    font-size: 10px;
}

body {
    font-family: 'Noto Sans JP';
    font-size: 1.6rem;
    line-height: 1;
    color: #717679;
    background-color: #becdd6;
    position: relative;
    z-index: -10;
}

a {
    color: #717679;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

.box {
    width: 100%;
    height: 100vh;
}

.sns-icon {
    width: 30px;
    height: 30px;
}

.read-btn {
    width: 150px;
    height: 50px;
}

.readme {
    text-align: center;
}

#main {
    height: 100%;
}

/* ----------------------------------------
fixed
---------------------------------------- */

#home .fixed .site-title {
    position: fixed;
    z-index: 1000;
    top: 40px;
    right: 50px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #717679;
}


/*========= ハンバーガーメニュー ===============*/
#home .navi {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: #becdd6;
    opacity: 0;
    transition: opacity 1s .7s;
    pointer-events: none;
}

#home .navi.active {
    opacity: 1;
    pointer-events: painted;
    transition: opacity 0.5s;
}

#home .nav-menu {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}

#home .nav-item {
    font-size: 10rem;
    background: #becdd6;
    text-shadow:  4px 4px 8px #859096,
                -4px -4px 8px #f7ffff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 2% 0;
}


#home .navi.active .nav-item {
    opacity: 1;
    transition: opacity 1s .7s;
}

#home .navi.active .nav-item a:hover {
    text-shadow:  2px 2px 4px #859096,
                -2px -2px 4px #f7ffff;
}

#home .nav-item a {
    color: #becdd6;
    display: inline-block;
    line-height: 1;
}

#home .nav-item a p {
    height: auto;
}

#home .copyright {
    position: absolute;
    height: 4%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

#home .navi.active .copyright {
    opacity: 1;
    transition: opacity 1s .7s;
}

#home .copyright p {
    display: block;
}

#home .openbtn-area  {
    height: 46px;
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 40px;
    left: 50px;
}

#home .openbtn-circle {
    position: relative;
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 50%;
    transition: box-shadow 0.2s;
    /* transition: after 0.8s; */
    background: #becdd6;
    box-shadow:  5px 5px 9px #859096,
                -5px -5px 9px #f7ffff;
}

#home .openbtn-circle:active {
    box-shadow: none;
}

#home .openbtn-circle::before {
    content: 'PORTOFORIO';
    position: absolute;
    top: 50%;
    left: 130%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    opacity: 1;
    transition: 1s .7s;
}

#home  .openbtn-circle.active::before {
    opacity: 0;
    transition: 0.5s;
}

#home .openbtn-circle::after {
    content: 'CLOSE';
    position: absolute;
    top: 50%;
    left: 130%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    opacity: 0;
    transition: 0.5s;
}

#home  .openbtn-circle.active::after {
    opacity: 1;
    transition: 1s .7s;
}

#home .openbtn span {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 6px;
    background: #becdd6;
    box-shadow: inset 1px 1px 2px #859096,
                inset -1px -1px 2px #f7ffff;
    transition: all 1s;

}

#home .openbtn span:nth-of-type(1) {
    top: 11px;
}

#home .openbtn span:nth-of-type(2) {
    top: 20px;
}

#home .openbtn span:nth-of-type(3) {
    top: 29px;
}

#home .openbtn-circle.active span:nth-of-type(1),
#home .openbtn-circle.active span:nth-of-type(3) {
    box-shadow: none;
}

#home .openbtn-circle.active span:nth-of-type(1),
#home .openbtn-circle.active span:nth-of-type(3) {
    opacity: 0;
    transition: all .5s;
}

#home .openbtn-circle.active span:nth-of-type(2) {
    width: 20px;
}

#home .fixed .arrow {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fixed .HomeNavDots-list-item {
    width: 26px;
    height: 26px;
}

/*========= ページネーションCSS ===============*/
.pagination {
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.pagination a {
    display: block;
    height: 30px;
    width: 30px;
    color: #bcbcbc;
    position: relative;
}

.pagination a.active:after {
    background-color: #f00;
    box-shadow: inset 1.5px 1.5px 2px #859096,
                inset -1.5px -1.5px 2px #f7ffff;
}

/* 現在地のテキスト設定 */
.pagination a .hover-text {
    position: absolute;
    left: 15px;
    top: 15px;
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    padding-left: 15px;
}

.pagination a:hover .hover-text {
    opacity: 1;
    color: #717679;
}

/* 丸の部分 */
.pagination a:after { 
    /* -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease; */
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #becdd6;
    box-shadow:  1.5px 1.5px 2px #859096,
                -1.5px -1.5px 2px #f7ffff;
    content: "";
    transition: all .2s;
}

/* ----------------------------------------
home
---------------------------------------- */

#home {
    position: relative;
}

#home .title {
    font-size: 10rem;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    font-weight: 400;
    /* color: #becdd6;
    text-shadow:  -2px -2px 4px #859096,
    1px 1px 4px #e6f1f1; */

}

#home .btn-scroll {
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;

    /* transition: opacity .8s; */
}

#home .btn-scroll-text {
    display: block;
    text-align: center;
}

#home .btn-scroll-line {
    display: block;
    position: relative;
    height: 40px;
    width: 1px;
    left: 50%;
    border-left: solid 1px #717679;
}

/* ----------------------------------------
about
---------------------------------------- */
#about {
    display: flex;
}

#about .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .left .img-box {
    width: 430px;
    height: 590px;
    /* padding: 10px; */
    border-radius: 30px;
    background: #becdd6;
    box-shadow: inset 8px 8px 16px #859096,
                inset -8px -8px 16px #f7ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .left img {
    object-fit: cover;
    border-radius: 30px;
    width: 88%;
}

#about .right {
    width: 40%;
    height: 100%;
    position: relative;
}

#about .right .about-text h2 {
    margin-top: 15%;
    font-size: 3.5rem;
    color: #f00;
    text-shadow:  2px 2px 3px #859096,
                -2px -2px 3px #f7ffff;
}

#about .right .about-text p:nth-child(2) {
    margin-top: 10%;
    font-size: 5rem;
    font-weight: 400;
}

#about .right .about-text p:nth-child(3) {
    margin-top: 2%;
    font-size: 2rem;
}

#about .right .about-text p:nth-child(4) {
    margin-top: 10%;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.skill-set__flex {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill-set__list {
    width: 47%;
    display: block;
}

.skill-set__item {
    display: flex;
    margin-bottom: 2rem;
    height: 4.2rem;
}

.skill-set__icon {
    width: 15%;
    height: auto;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.skill-set__icon img {
    vertical-align: middle;
}

.skill-set__detail {
    display: flex;
    flex-direction: column;
}

.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #fff; /* グレーカラー 自由に設定化 */
    font-size: 2.5rem; /* フォントサイズ 自由に設定化 */
    /* border: 1px #000; */
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */

/* ----------------------------------------
works
---------------------------------------- */
#works {
    position: relative;
    display: flex;
}

#works .left {
    width: 22%;
    margin: 10% 3% 10% 10%;
}

#works .left h2 {
    font-size: 3.5rem;
    color: #f00;
    text-shadow:  2px 2px 3px #859096,
                -2px -2px 3px #f7ffff;
}

.swiper-slide-content {
    position: relative;
    margin-top: 15%;
    height: 100%;
}

#works .left .swiper-slide-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    transition: all 2s ease 0s;
}

#works .left .swiper-slide-text .slide-title {
    font-size: 4rem;
}

#works .left .swiper-slide-text .slide-comment {
    margin-top: 20%;
    height: 110px;
}

.read-btn {
    position: absolute;
    top: 60%;
    left: 0;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background: #becdd6;
    box-shadow:  5px 5px 10px #859096,
                -5px -5px 10px #f7ffff;
    transition: box-shadow 0.2s;
}

.read-btn:active {
    box-shadow: none;
}

.read-btn .readmore {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    height: 100%;
    width: 100%;
}

#works .right {
    position: relative;
    width: 55%;
    height: calc(100% - 40%);
    border-radius: 30px;
    background: #becdd6;
    box-shadow: inset 20px 20px 40px #859096, inset -20px -20px 40px #f7ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10% auto 0;
}

#works .swiper {
    width: calc(100% - 20%);
    height: calc(100% - 20%);
}

#works .swiper-slide a {
    height: 100%;
    display: block;
}

/* ----------------------------------------
contact
---------------------------------------- */
#contact {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    position: relative;
}

#contact .contact-inner {
    text-align: center;
    margin: auto;
}

#contact .contact-inner .text-area {
    margin-bottom: 2.5%;
}

#contact .contact-inner .text-area h2 {
    font-size: 3.5rem;
    color: #f00;
    text-shadow:  2px 2px 3px #859096,
                -2px -2px 3px #f7ffff;
    margin-bottom: 7%;
}

#contact .contact-inner .form-area {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

#contact .contact-inner .form-area dl {
    display: flex;
    flex-wrap: wrap;
}

#contact .contact-inner .form-area dt {
    width: 20%;
    padding-right: 2%;
    text-align: right;
    font-size: 1.4rem;
    margin: auto;
}

#contact .contact-inner .form-area dd {
    width: 80%;
    margin: 2.5% auto;
}

#contact .contact-inner .form-area input,
#contact .contact-inner .form-area textarea {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background: #becdd6;
    box-shadow: inset 5px 5px 10px #859096,
                inset -5px -5px 10px #f7ffff;
}

#contact .contact-inner .form-area input:-webkit-autofill{
    box-shadow: inset 5px 5px 10px #838d94;
                
}

#contact .contact-inner .form-area textarea {
    height: 150px;
    resize: none;
}

#contact .contact-inner .form-area button {
    margin: auto;
    margin-top: 5%;
    width: 75px;
    height: 40px;
    font-size: 1.3rem;
    border-radius: 20px;
    background: #becdd6;
    box-shadow:  5px 5px 10px #859096,
                -5px -5px 10px #f7ffff;
    transition: all 0.2s;
}

#contact .contact-inner .form-area button:active {
    box-shadow: none;
}

#contact .contact-inner .page-top {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
}

.popup .active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content{
    background: rgb(190,205,214);
    padding: 30px;
    width: 50%;
    height: 30%;
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.popup-item {
    position: relative;
    height: 100%;
    width: 100%;
}

#loading {
    position: absolute;
    inset: 0;
    top: 25%;
    margin: auto;
}

#loading img{
    height: 30px;
    width: auto;
}

#msg {
    position: absolute;
    inset: 0;
    top: 25%;
    width: 100%;
    font-size: 1.6rem;
    height: 20px;
    margin: 0 auto;
}

.close {
    height: 40px;
    width: 100px;
    background: #becdd6;
    box-shadow:  5px 5px 9px #859096,
                -5px -5px 9px #f7ffff;
    border-radius: 5px;
    transition: box-shadow 0.2s;
    position: absolute;
    inset: 0;
    top: 65%;
    margin: 0 auto;
}

.close:active {
    box-shadow: none;
}

/* ----------------------------------------
footer
---------------------------------------- */
#footer {
    padding: 40px 50px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
}